body{overflow-x:hidden}
a {
    color: #000;
    text-decoration: none;
}
.picker-container{
	display: none;
}

.hotel_booking{
	background: #313a45 none repeat scroll 0 0;
	font-family: "Karla",sans-serif;
	min-height: 94px;
	padding: 26px 10px;
	position: relative;
}
.room_book{
	margin-right: 7%;
}
.room_book h6{
	color: #fff;
	font-size: 17px;
	font-weight: 600;
	font-family: "Karla",sans-serif;
}
.room_book p{
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	line-height: 25px;
	margin: 0;
	font-family: "Karla",sans-serif;
}
form#form1 .form-group {
  margin: 0;
}
.hotel_booking .input-group {
  width: 100%;
}
.hotel_booking  .input-group-addon, .hotel_booking_area input#datepicker, .hotel_booking_area input#datepicker1{
	background: transparent none repeat scroll 0 0;
	border: medium none;
	color: #aab8ca;
	outline: none;
}
.hotel_booking  .input-group-addon{
	padding: 0 0 0 10px;
}
.hotel_booking_area ::-webkit-input-placeholder { /* WebKit browsers */
    color: #aab8ca;
}
.hotel_booking_area ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #aab8ca;
    opacity:  1;
}
.hotel_booking_area input#datepicker, .hotel_booking_area input#datepicker1, .hotel_booking_area select#room, .hotel_booking_area select#adult, .hotel_booking_area select#child, .hotel_booking_area select#bed {
	font-size: 13px;
	height: 37px;
	padding: 0;
	text-transform: uppercase;
	width: 100%;
}
.hotel_booking_area select#room{

}
.form-control:focus{
	box-shadow: none;
}
.hotel_booking_area select{
	-moz-appearance: none;
	-webkit-appearance: none;
	background: transparent none repeat scroll 0 0;

	color: #aab8ca;
	outline: medium none;
	font-family: "Karla",sans-serif;
	padding-left: 8px;
}
.hotel_booking_area select > option{

	margin: 0;
	padding: 5px 5px 5px 15px;
}
.icon_arrow:after{
	color: #aab8ca;
	font-family: "FontAwesome";
	font-size: 14px;
	line-height: 42px;
	position: absolute;
	right: 9%;
	top: -6%;
	z-index: 1;
}
.cal
{
	background-color:#fff;
}
.container-class
{
	    position: absolute;
    margin-top: -75px;
}
.guests-select1
{
width: 264px;
    height: 150px;

	background-color:#fff;
	color:#000;
	position:absolute;
	    z-index: 99;
		margin-top:10px;
}
.room
{
	margin-top:10px;
}
.room1
{
	margin-top:50px;
}
.room2
{
	margin-top:90px;
}
.guests-select1
{
	
}
#panel, .flip {

}

#panel {
    display: none;
}
.glyphicon1 {
    position: relative;
    top: -12px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    color: #fff;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    left: 113px;
    -moz-osx-font-smoothing: grayscale;
}
/* --------------------------------------------------------
 					end hotel booking area CSS New Search
-----------------------------------------------------------*/


/* Reservation Form
-------------------------------------------------- */
#reservation-form {
  
	    margin-top: 100px;
    text-align: -webkit-center;
}
/* Vertical */
/*#reservation-form .reservation-horizontal, #reservation-form .reservation-vertical, #contact-form .contact-vertical {
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ebebeb;
	-webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,0.12);
	box-shadow: 0 3px 0 0 rgba(0,0,0,0.12);
	padding: 16px;
	z-index: 9999;
	background-color: #fff;
}*/
#reservation-form .reservation-vertical h2 {
	margin-top: 0;
	margin-bottom: 12px;
}
#reservation-form .reservation-vertical h4 {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
}
/* Price */
#reservation-form .price {
	padding: 10px 25px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 12px;
	font-size: 18px;
	display: block;
	border: 1px dashed #ebebeb;
}
#reservation-form .price h4 {
	color: #333;
	padding-right: 5px;
}
#reservation-form .price span {
	color: #979797;
	font-weight: normal;
	padding-left: 5px;
	font-size: 11px;
}
/* Horizontal */
.form-control
{
	border-radius:0px;
	border-collapse:collapse;
	
}
#email
{
	border-collapse:collapse;
	    border-collapse: collapse;
    border-top: solid 0px #ccc;
	height:50px;
}
.form-inline .form-control{
	    width: 100%;
    height: 50px;
}
#reservation-form .reservation-horizontal .col-sm-1, #reservation-form .reservation-horizontal .col-sm-2, #reservation-form .reservation-horizontal .col-sm-3 {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
}
#reservation-form .form-inline select.form-control {
	width: 100% !important;
}
#reservation-form .form-inline .form-group {
	    width: 100%;
    margin-top: -20px;
}
/* Icons */
#reservation-form .popover-icon i {
	color: #9f9f9f;
	font-size: 18px;
}
#reservation-form .fa.infield {
	position: absolute;
	float: right;
	right: 57px;
	margin-top: 35px;
	font-size: 14px;
}
#reservation-form .form-inline .fa.infield {
	position: absolute;
	float: right;
	right: 18.84px;
	font-size: 14px;
	top: 0;
	width: 15px;
}
/* Button */
#reservation-form .col-sm-2 button {
    margin-left: -20px;
    border-radius: 0px;
    height: 50px;
    background-color: #ff690f;
    color: #fff;
    width: 100%;
	border: none;
}
/* Guests */
#reservation-form .guests-select {
	z-index: 100;
	cursor: pointer;
}
#reservation-form .guests-select .guests {
/*	margin-top: -261px; */
	width: auto;
	height: auto;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ebebeb;
	-webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,0.12);
	box-shadow: 0 3px 0 0 rgba(0,0,0,0.12);
	z-index: 500;
	background-color: #fff;
	position: absolute;
	padding: 20px;
	cursor: default !important;
	display: none;
	animation-name: fadeIn;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
	-moz-animation-name: fadeIn;
	-moz-animation-duration: 0.2s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-out;
}
#reservation-form .form-inline .guests-select .form-group {
	padding-bottom: 15px;
}
/* Datepicker*/
#reservation-form .hasDatepicker {
	cursor: pointer;
}
/* Error Message */
.error_message {
	color: #F00;
}
#error{
	display: none;
}
@media (min-width: 1200px)
{
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
       margin-left: 615px !important;
    margin-top: -70px;
}}
@media (min-width: 1000px)
{
.modal-content
	{
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    margin-left: 345px;
    margin-top: -70px;
}

}
@media (max-width: 968px)


{
	.modal-content
	{
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    margin-left: 225px;
    margin-top: -70px;
}

	}
	
@media only screen and (max-width: 476px)
{
	.hero {
    background: linear-gradient(
 rgba(0, 0, 0, 0.25), 
 rgba(0, 0, 0, 0.25)
 ),url(../img/jumbotron1.jpg);
    background-size: cover;
    border: none;
    background-repeat: no-repeat;
    background: url(../img/jumbotron1.jpg);
	height:500px;
}
.subscribe {
    background-color: #ebebed;
    height: auto;
    margin-top: -101px;
}
.edit-sub {
    font-size: 30px;
    width: auto;
    display: -webkit-inline-box;
    text-align: -webkit-center;
    float: left;
    margin-left: 0px !important;
}
.sub-form
{
	text-align:left !important;
}
.sign-up {
    background-color: #ff690f;
    color: #fff;
    width: 160px;
    height: 38px;
    /* background: transparent; */
    border: none;
    /* text-align: center; */
    margin-left: 95px;
}
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin-right: -15px;
    margin-left: -65px;
}
.glyphicon1 {
    position: relative;
    top: -12px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    left: 83px;
	color:#fff;
    -moz-osx-font-smoothing: grayscale;
}
.guests-select1 {
    width: 190px;
    height: 150px;
    border: solid 1px #000000;
    background-color: #fff;
    color: #000;
    position: absolute;
    z-index: 99;
	    margin-top: 10px;
    /* display: flex; */
}
.room {
    margin-top: 10px;
    display: flex;
	position:absolute;
}
.room1 {
    margin-top: 50px;
    display: flex;
}
	.form-counts {
    display: -webkit-box;
    float: right;
    line-height: 32px;
    font-size: 30px;
    text-decoration: none;
    list-style-type: none;
    text-decoration: none !important;
}
.form-inline .form-control {
    margin-top: 23px;
}
#reservation-form .col-sm-2 button {
    margin-left: -10px;
    border-radius: 0px;
    height: 38px;
    width: 180px;
    margin-top: 5px
}
.account {
    display: -webkit-box;
    position: relative;
    cursor: pointer;
    float: right;
    margin-top: -16px;
}
.why-with-us{    background: url(../img/why-with-us.jpg);
    width: 100%;
        height: 970px;
    margin-top: 20px;
    background-attachment: fixed;
    display: flex;
    text-align: center;}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    margin-left: 46px;
    margin-top: -25px;
}

.input {
    display: flex;
    align-items: center;
	width:100%;
	margin-left:0px;
}
.flex {
    display: flex;
    flex-direction: inherit;
}
#reservation-form .guests-select .guests {
	/*	margin-top: -261px; */
	width: auto;
	height: auto;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ebebeb;
	-webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,0.12);
	box-shadow: 0 3px 0 0 rgba(0,0,0,0.12);
	z-index: 500;
	background-color: #fff;
	position: absolute;
	padding: 20px;
	cursor: default !important;
	display: none;
	animation-name: fadeIn;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
	-moz-animation-name: fadeIn;
	-moz-animation-duration: 0.2s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-out;
}
}

@media only screen 
  and (min-device-width: 769px) 
  and (max-device-width: 1023px)
{
	  #reservation-form .guests-select .guests {
		 
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    margin-left: 208px;
    margin-top: -70px;
}
.flex {
    display: flex;
    flex-direction: inherit;
}
.why-with-us{    background: url(../img/why-with-us.jpg);
    width: 100%;
    height: 930px;
    margin-top: 20px;
    background-attachment: fixed;
    display: flex;
    text-align: center;}
	.why-us-container {
    background-color: #fff;
    height: 220px;
    display: block;
    text-align: center;
    margin-left: 95px;
    /* margin-right: 5px; */
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    /* left: 35%; */
    /* right: 5%; */
    width: 20%;
}
@media (max-width:1024px)
{
	.glyphicon1 {
    position: relative;
    top: -11px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    color: #fff;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    left: 63px;
    -moz-osx-font-smoothing: grayscale;
}
}

@media only screen 
  and (min-device-width: 1025px) 
  and (max-device-width: 1440px)
{
	.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    margin-left: 617px;
    margin-top: -70px;
}  
}
@media only screen 
  and (min-device-width: 1200px)
{
	  	.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    margin-left: 617px;
    margin-top: -70px;
}
}
