/* CSS Document */
.navbar {
margin-bottom: 0;
border: none;
background-color: transparent;
background: none;
color: #fff;
background: #FF6B32;
height: 90px;
}
.wrapper
{
display: flex;
margin: 15px;

}
.left-side
{
width: 250px;

}
.right-side
{
width:802px;
border:solid 1px #ddd;
margin-left: 5px;
}
.filtertab-s {
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
margin: 1em 0;
position: relative;
font-family: inherit;
font-weight: 500;
}
.filtertab {
width: 50%;
white-space: nowrap;
padding: .5em 0 1.2857143em;
overflow: hidden;
cursor: pointer;
color: #acacaf;
border-bottom: 1px solid #ebebed;
transition: color .2s ease-in-out;
font-size: 18px;
}
.indicator {
height: 3px;
position: absolute;
left: 0;
width: 50%;
bottom: 0;
background-color: #ff690f;
transition: transform .2s ease-in-out;
}
#myInput {
background-image:url(../img/searchicon.png);
background-position: 10px 12px;
background-repeat: no-repeat;
width: 100%;
font-size: 16px;
padding: 12px 20px 12px 40px;
border: 0px solid #ddd;

}
.hotel-name
{
border-top: solid 1px #ddd;
border-bottom: solid 1px #ddd;
}
#hotel-name h5
{
float: left;
font-size: 18px;

}
.border-top
{
border-top: solid 1px #ddd;
margin-top: 50px;

}
.carousel
{
	height:auto !important;
}
.border-bottom
{
border-bottom: solid 1px #ddd;
}
.noUi-horizontal .noUi-handle {
width: 24px !important;
height: 24px !important;
left: -17px !important;
top: -8px !important;
border-radius: 50% !important;
border: solid 3px #FF6B32;
}
#range-slider
{
margin-top:14px;
}
#price-text
{
display:flex;
font-size: 18px;

}
#price-range
{
text-align: left;
display: flex;
/* margin: 8px; */
margin-bottom: 15px;
margin-top: 9px;
color:#ddd;
font-size: 16px;
}
.glyphicon{
position: relative;
top: 0px;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
left: 0px;
font-size: 20px;
}
.caption {
margin-left: 5px;
margin-right: 0;
display: none !important;
}
.rating-container .star
{
display: inline-block;
margin: 0 10px !important;
text-align: center;
}
.star-ranking
{
text-align: left;
margin-top: 15px;
border-bottom: solid 1px #ddd;
}
#hotel-rating
{
font-size: 20px;

}
.board-type
{

}
#text
{
font-size:20px;
}
.availability
{

}
.filter
{
width: 100%;
background-color: #ff690f;
color: #fff;
}
.overflow
{
overflow: scroll;
height: 250px;
}


.slidingDiv {
background-color: #99CCFF;
padding:20px;

}

.show_hide {
display:none;
cursor: pointer;
}
.change-res-form
{
position: relative;
padding: 10px;
border-bottom: solid 1px #ddd;
}
#change-res-form
{

}

.show-hide
{

}
.show-button-orange {
    background-color: #ff690f;
    color: #fff;
    width: 100px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -6px;
    float: right;
}
#reservation-form {

margin-top: 0px;
text-align: -webkit-center;
}
#reservation-form .form-inline .form-group {
width: 20%;
margin-top: -20px;
margin-left:-3px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
float: right;
}

#email
{
border-collapse: collapse;
border-top: solid 1px #ccc;;
height:50px;
}
#reservation-form .col-sm-2 button {
margin-left: -49px
}
.results
{
  display: block;
    width: 800px;
}
.left-image
{
    width: 210px;
    float: left;

}
.right-content
{
display: inline;
    display: inline;
    float: right;
}
.right-content h3
{
margin-top:0px;
}
#texty
{
font-size: 21px;
font-weight: 400;
margin-left: 5px;
display: inline;
cursor: pointer;
}
#ranking
{
display: inline-block;
}
#ranking img
{
width:100px;
}
#reviews
{
display: block;
margin-left: 5px;
}
.item img
{

}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
line-height: 1;
height: 170px;
}
#box{

color:#fff;
background: #ddd;
}
.table-tr1
{
background-color:#ff690f;
color:#fff;
}
.table-style
{

}
table {
border-collapse: collapse;
border-spacing: 0;
width: 578px;
height: 120px;
}
#box
{
display:none;
color: #fff;
background: #ddd;
padding: 10px;
}
.table-style .table-bordered td:nth-child(5)
{
background-color:#ff690f;
color:#fff;
text-align:center;
moz-text-align:center;
}
.table-style table a:not(.btn), .table a:not(.btn) {
text-decoration:none !important;
color: #fff;
}
#details
{
color: #000;
}
#details p
{
padding: 3px;
margin-top: 25px;
}
#map
{

}
#map img
{
width: 470px;
display: inline-block;
float: left;}
.right-panel-map
{
height: 302px;
/* float: left; */
width: 290px;
background-color: #fff;
border: 1px solid #e1e1e5;
margin-left: 5px;
display: table-column-group;
/* float: right; */
display: inline-block;
}
.address
{
font-size: 16px;
font-weight: 400;
color: #212121;
margin-bottom: 12px;
}
.phone
{
color: #8b8b8e;
}
.nearby
{
text-transform: uppercase;
font-size: 10px;
color: #8b8b8e;
font-weight: 600;
}
.nearby-list li
{
margin-top: 20px;
width: 170px;
/* display: inline-block; */
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
font-size: 14px;
list-style-type: none;
text-align: center;
}
.extra-stuff {
margin-top: 15px;
margin-bottom: 15px;
}
.round
{
width:30px;
height:30px;
border-radius:50%;
background-color:#666;
text-align:center;
}
.glyphicon2 {
position: relative;
top: 4px;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
left: 0px;
font-size: 20px;
}
.show-more
{
text-align:center;
margin-top: 6px;
}
#show-more-results a
{
color: orange;
}
.close-box {
font-size: 20px;
font-weight: bold;
line-height: 18px;
color: #000000;
text-shadow: 0 1px 0 #ffffff;
opacity: 0.2;
filter: alpha(opacity=20);
text-decoration: none;
display:inline;
float: right;
}
.close-box:hover {
display:inline;
color: #000000;
text-decoration: none;
opacity: 0.4;
filter: alpha(opacity=40);
cursor: pointer;
}
#some-text
{

       display: inline;
    margin: 35px;

}
.change-search
{
	display:inline;
}
.search-results
{
	display:inline-block;
}
#right-border
{
	  display: inherit;
}
#right-border img
{
	    height: 40px;
    display: inline;
    position: absolute;
    margin-top: -25px;
}
#margin
{
	    margin-top: 10px;
    border-bottom: solid 4px orange;
}
#result
{
	margin-top:10px;
}