

img { max-width: 100%; }

.medium-paragraph { font-size: 18px; line-height: 34px; }

::-moz-selection { background: #ab99e0; color: #fff; text-shadow: none; }
::selection { background: #ab99e0; color: #fff; text-shadow: none; }
/***** Divider *****/
.divider-1 { padding: 25px 0 15px 0; }
.divider-1 .line { width: 200px; margin: 0 auto; border-bottom: 1px solid #ddd; }
/***** Testimonials *****/

.testimonials-container { padding-bottom: 70px;color:#fff; }

.testimonial-list { margin-top: 30px; text-align: center; }

.testimonial-list .testimonial-image img {
	max-width: 160px;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

.testimonial-list .testimonial-text { margin-top: 30px; }

.testimonial-list .testimonial-text a { color: #ccc; border-bottom: 1px dotted #fff; }
.testimonial-list .testimonial-text a:hover, 
.testimonial-list .testimonial-text a:focus { color: #fff; border: 0; }

.testimonial-list .nav-tabs { margin-top: 30px; border: 0; }
.testimonial-list .nav-tabs li { float: none; display: inline-block; margin-left: 10px; margin-right: 10px; }

.testimonial-list .nav-tabs li a {
    width: 16px; height: 16px; margin: 0; padding: 0;
    background: #ddd; border: 0;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.testimonial-list .nav-tabs li a:hover { background: #bbb; border: 0; }
.testimonial-list .nav-tabs li.active a,
.testimonial-list .nav-tabs li.active a:focus { background:#f5f5f5; border: 0; }
