.jumbotron
{
	padding-top:0;
	height:auto;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 200;
    color: #000;
}
.navbar{
  margin-bottom:0;
  border:none;
  background-color:transparent;
  background:none;
  color:#fff;
}
.navbar-default .navbar-toggle {
    border-color: #eeeeee;
    background-color: white;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.navbar-brand .glyphicon{
  margin-right:6px;
}
.btn-primary:hover, .btn-primary:focus, .btn-group.open .dropdown-toggle.btn-primary
{
	    background-color: #ff690f;
    border-color: #ff690f;
}
.modal-backdrop
{
	position:relative !important;
}
.heading
{
	margin-top:-420px;
}
#pull
{
	
}
.social-network
{
	    margin-top: 105px;
    display: flex;
    justify-content: space-around;
}
.paddingtop-bottom h4
{
color: #fff;
    font-weight: bolder;
    position: absolute;
    margin-top: 45px;
    margin-left: 80px;
}
.social-icons img
{
	width:24px;
	height:24px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: none !important;
      touch-action: none !important;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.form-counts
{
    display: -webkit-box;
    /* float: right; */
    line-height: 32px;
    font-size: 30px;
    text-decoration: none;
    list-style-type: none;
    text-decoration: none !important;
}
.form-inline .form-control
{
	margin-top:20px;
}
label {
    display: inline !important;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.line-height
{
	line-height:37px;
}
.account {
    display: -webkit-box;
    /* margin: 23px; */
    position: relative;
    cursor: pointer;
    float: right;
    margin-top: -40px;
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    margin-left: 480px;
    margin-top: -70px;
}
.image
{
    width: 16px;
    height: 16px;
    margin-top: -3px;
}
.paragraph
{
	margin-left: 5px;
    line-height: 22px;
}
.hero{ 
  background:url(../img/jumbotron1.jpg) no-repeat center;
  background-size:cover;
  overflow: hidden;
    min-height: 500px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
{
	color:#fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus
{
	color:#fff;
}
.navbar-nav {
    float: left;
    margin: 0;
    margin-top: 20px;
}
.modal {
    display: none; /* Hidden by default */
   /* position:fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
	    margin-left: 615px;
    margin-top: -70px;
}
.modal-content ul {
    margin-top: 5px;
    margin-left: -43px;
}
.modal-content ul li
{
	margin-top:5px;
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#myBtn
{
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
    cursor: pointer;
    height: 16px;
    padding-left: 16px;
    vertical-align: middle;
    display: flex;
    float: right;
	margin-top:20px;
}
#myBtn p
{
	color:#fff;
}
.modal-footer
{
	border-top:none !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #fff;

}
.subscribe
{
	background-color:#ebebed;
	    margin-top: -101px;
		
}
.font-size
{
    font-size: 16px;
    width: 100%;
}
.edit-sub
{
    font-size: 30px;
    width: auto;
	    font-weight: bold;

    

}
.sub-form
{
	margin-bottom:10px;
}
.border-bottom
{
    border-top: dotted 1px #000;
    width: 200px;
    margin-top: 10px;
    margin-left: 460px;
    height: 10px;
}
.textt
{
	    color: #000;
    display: inline-flex;
    flex-direction: column;
	    margin-top: 20px;
}
#textt
{
	    font-size: 30px;
    color: #000;
}
.block
{
	    margin-left: 3px;
}
.email-1
{
    display: inline;
    width: 360px;
}
.button-orange1 {
    background-color: #ff690f;
    color: #fff;
    width: 110px;
    height: 38px;
    border: none;
	position: absolute;
}
.sub-form img
{
	    width: 300px;
    margin-left: 440px;
    margin-top: 15px;
    margin-bottom: 5px;	
}
#button
{
	display:inline-block;
}
#heading-signup
{
	font-size:30px;
}
.sign-up {
    background-color: #ff690f;
    color: #fff;
    width: 160px;
    height: 38px;
    /* background: transparent; */
    border: none;
}
.margin-sign
{
	    margin-top: 22px;
}
.carousel {
    position: relative;
    height: 300px;
    margin-top: 10px;
}
.carousel .item img {
    height: 300px;
    width: 100%;
}
.font-size1 {
    font-size: 18px;
    margin-bottom: 5px;
}
.font-size1 a
{
	cursor:pointer;
}
.glyphicon4 {
    position: relative;
    top: -31px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    
    -moz-osx-font-smoothing: grayscale;
}
#text-signup
{
float: right;
	}
.default-button
{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	outline:#ff690f;
}
.button-orange
{
	background-color:#ff690f;
	color:#fff;
	width:100%;
}
.button
{
	    background-color: #fff;
    border: solid 1px #ff690f;
    color:     background-color: #fff;
    border: solid 1px #ff690f;
    color: #ff690f;
	width:100%;
}
.items
{
	    color: #000;
    margin-left: -40px;
    text-align: -webkit-center;
    line-height: 45px;
}
.items ul
{
	    width: 100%;
    list-style-type: none;
}
.items ul li
{
	    border: solid 1px #ccc;
    width: 100%;
	border-collapse:collapse;
	margin-left: 23px;
}
.heading h2
{
	color:#fff;
	text-align:center;
}
#test p
{
	    margin-top: 4px;
    font-size: 16px;
	float: left;
}
.glyphicon {
    position: relative;
    top: -31px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    left: 183px;
    -moz-osx-font-smoothing: grayscale;
}
.heading h4
{
	color:#fff;
	text-align:center;
}
.search-engine {
    margin-top: 83px;
}
.text
{
	text-align:center;
}
.hotel-main
{
	    padding: 25px;
    box-sizing: border-box;
}
.hotel-container
{
    width: 100%;
    height: auto;
    background-color: transparent;
    margin: 3px;
    margin-top: 25px;
}
.hotel-container img
{
	background:linear-gradient(  rgba(0, 0, 0, 0.50),   rgba(0, 0, 0, 0.50)  );
	    display: block;
    max-width: 100%;
    height: auto;
}
.btn-primary
{
	background-color:#ff690f;
	border-color:#ff690f;
}
}
.imgWrap {
  position: relative;
  height: 200px;
  width: 257px;
}
.imgDescription {
  position: absolute;
  top: 23px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 105, 15, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align:center;
  /*remove comment if you want a gradual transition between states
      -webkit-transition: visibility opacity 0.2s;
      */
}
.imgDescription h1
{
	color:#fff;
	text-align:center;
}
.imgDescription h2
{
	color:#fff;
	text-align:center;
}
.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}
/*---------------------------------------*/
/* Hover Effects CSS Starts Here*/
/*---------------------------------------*/
.view-tenth img {
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
}
.view-tenth .mask {
   background-color: rgba(255, 231, 179, 0.3);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth h2 {
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   background: transparent;
   margin: 20px 40px 0px 40px;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   color: #333;
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth p {
   color: #333;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.view-tenth a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.view-tenth:hover img {
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover a.info {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view {
   width: 100%;
   height: 280px;
   margin: 10px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
   background: #fff url(../img/5587273-travel-wallpapers.jpg) no-repeat center center;
}
.view .mask,.view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
				
/*---------------------------------*/
	/*Hover Effects ends Here*/
/*---------------------------------*/

.center{
width: 150px;
  margin: 40px auto;
  
}
.form-control
{
	box-shadow:none;
}

/*---------------------------------*/
	/*Testimonials Starts Here*/
/*---------------------------------*/

.testimonialss
{
	background:url(../img/testimonial_ground.jpg);
	width:100%;
	height:auto;
	margin-top:20px;
	background-attachment:fixed;
}
.testimonialss h2
{
	color:#fff;
}
img { max-width: 100%; }

.medium-paragraph { font-size: 18px; line-height: 34px; }

::-moz-selection { background: #ab99e0; color: #fff; text-shadow: none; }
::selection { background: #ab99e0; color: #fff; text-shadow: none; }
/***** Divider *****/
.divider-1 { padding: 25px 0 15px 0; }
.divider-1 .line { width: 200px; margin: 0 auto; border-bottom: 1px solid #ddd; }
/***** Testimonials *****/

.testimonials-container { padding-bottom: 70px;color:#fff; }

.testimonial-list { margin-top: 30px; text-align: center; }

.testimonial-list .testimonial-image img {
	max-width: 160px;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

.testimonial-list .testimonial-text { margin-top: 30px; }

.testimonial-list .testimonial-text a { color: #ccc; border-bottom: 1px dotted #fff; }
.testimonial-list .testimonial-text a:hover, 
.testimonial-list .testimonial-text a:focus { color: #fff; border: 0; }

.testimonial-list .nav-tabs { margin-top: 30px; border: 0; }
.testimonial-list .nav-tabs li { float: none; display: inline-block; margin-left: 10px; margin-right: 10px; }

.testimonial-list .nav-tabs li a {
    width: 16px; height: 16px; margin: 0; padding: 0;
    background: #ddd; border: 0;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.testimonial-list .nav-tabs li a:hover { background: #bbb; border: 0; }
.testimonial-list .nav-tabs li.active a,
.testimonial-list .nav-tabs li.active a:focus { background:#f5f5f5; border: 0; }

/*---------------------------------*/
	/*Testimonials End Here*/
/*---------------------------------*/

/*---------------------------------*/
	/* Why With US  starts Here*/
/*---------------------------------*/

.margin
{
	margin-top:50px;
}
.flex
{
	
}

.why-with-us
{
background: url(../img/why-with-us.jpg);
    width: 100%;
    height: auto;
    margin-top: 20px;
    background-attachment: fixed;
    display: flex;
    text-align: center;
}
.why-us-container
{

    background-color: #fff;
    height: 220px;
    margin: 50px;
    display: block;
	text-align:center;
	border-radius:12px;

}
.why-us-container h3
{
	    margin-top: 50px;
    display: -webkit-inline-box;
    
}
.icon-suit
{
-webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    margin: auto;
    float: none;
    text-align: center;
    overflow: hidden;
    background: #ff690f;
    float: none;
    position: absolute;
    left: 50%;
    top: 20px;
    margin: 0 0 0 -30px;
    border-radius: 100px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 20px;
    line-height: 24px
}
.icon-suit img
{
	margin-top:12px;
}
@media screen and (min-width: 640px)
and (max-width:768px)
{
	.why-us-container {
    background-color: #fff;
    height: 220px;
    display: block;
    text-align: center;
    /* margin-left: 95px; */
    /* margin-right: 5px; */
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    /* left: 35%; */
    /* right: 5%; */
    width: 70%;
    margin-left: 115px;
}
.icon-suit
{
	top: -30px;
}
.icon-suit {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    margin: auto;
    float: none;
    text-align: center;
    overflow: hidden;
    background: #ff690f;
    float: none;
    position: absolute;
    left: 50%;
    top: -30px;
    margin: 0 0 0 -30px;
    border-radius: 100px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 20px;
    line-height: 24px;
}
}
@media screen and (min-width: 284px)
and (max-width:425px)
{
	.imgDescription {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 105, 15, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    text-align: center;
}
	.icon-suit {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    margin: auto;
    float: none;
    text-align: center;
    overflow: hidden;
    background: #ff690f;
    float: none;
    position: absolute;
    left: 50%;
    top: -30px;
    margin: 0 0 0 -30px;
    border-radius: 100px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 20px;
    line-height: 24px;
}
.why-us-container {
    background-color: #fff;
    height: 270px;
    margin: 50px;
    display: block;
    text-align: center;
    border-radius: 12px;
    width: 100%;
    margin-left: 0px;
}
.why-with-us {
    background: url(../img/why-with-us.jpg);
    width: 100%;
    height: 970px;
    margin-top: 20px;
    background-attachment: fixed;
    display: flex;
    text-align: center;
}
}

/*---------------------------------*/
	/* Why With US End Here*/
/*---------------------------------*/



/*---------------------------------*/
	/*Newsletter*/
/*---------------------------------*/





.header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align:center;
}


.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
  text-align:center;
}


.input {
    display: flex;
    align-items: center;
    width: 40%;
    margin-left: 330px;
}


.button1 {
  height: 44px;
  border: none;
}

  
#email1 {
  width: 75%;
  background: #eeeeee;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}


#submit1 {
  width: 25%;
  height: 46px;
  background: #ff690f;
  font-family: inherit;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
  

#submit1:hover {
  background: #d45d7d;
}
  

input:focus {
  outline: none;
  outline: 2px solid #E86C8D;
  box-shadow: 0 0 2px #E86C8D;
}
/*---------------------------------*/
	/*Newsletter ends here */
/*---------------------------------*/

/*--------------*footer------------------*/
footer {
background-color: #2E3639;
position: relative;
z-index: 1;
}
.splitter {
background-image: url(../img/m_footer_buildings2.png);
    /* -webkit-background-size: 50px 50px; */
    -moz-background-size: 50px 50px;
    /* background-size: 50px 50px; */
    height: 20px;
    background-size: 100px;
    background-repeat: repeat;
}
footer { background-image:url(../img/dark-world-map.jpg); min-height:350px; font-family: 'Open Sans', sans-serif;background-attachment:fixed; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
/*-----------------footer ends here-----*/

@media (max-width:768px)
{
	.hotel_booking {
    padding: 31px 0px 0px 0px;
    margin-left: 0px;
	    display: flex;
    justify-content: space-between
}
.flex-form
{
		    display: flex;
    justify-content: space-between;
}
.search-engine {
    margin-top: 90px;
}
.heading
{
	    margin-top: -453px;
}
#reservation-form .guests-select .guests {
    /* margin-top: -261px; */
    width: 310px;
    height: auto;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #ebebeb;
    -webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,0.12);
    box-shadow: 0 3px 0 0 rgba(0,0,0,0.12);
    z-index: 500;
    background-color: #fff;
    position: absolute;
    padding: 20px;
    cursor: default !important;
    display: none;
    animation-name: fadeIn;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-name: fadeIn;
    -moz-animation-duration: 0.2s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
}}
@media only screen and (max-width: 476px)
{
	.hotel_booking {
    padding: 31px 0px 0px 0px;
    margin-left: 0px;
	    display: flex;
    justify-content: space-between;
}
.container-class {
    position: relative !important;
    margin-top: 0px !important;
}
.flex-form
{
		    display: block;
}
.search-engine
{
	margin-top:20px;
}
.form-group {
    margin-bottom: 0px;
}
#reservation-form .guests-select .guests {
    /* margin-top: -261px; */
    width: 310px;
    height: auto;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #ebebeb;
    -webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,0.12);
    box-shadow: 0 3px 0 0 rgba(0,0,0,0.12);
    z-index: 500;
    background-color: #fff;
    position: absolute;
    padding: 20px;
    cursor: default !important;
    display: none;
    animation-name: fadeIn;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-name: fadeIn;
    -moz-animation-duration: 0.2s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
}}
@media only screen and (max-width: 1199px) and (min-width: 992px)
{
.hotel_booking {
    padding: 31px 0px 0px 0px;
    margin-left: 0px;
	    display: flex;
    justify-content: space-between;
}
.flex-form
{
		    display: flex;
    justify-content: space-between;
}}
@media (min-width:992px) {
  .hero .get-it{
    text-align:right;
    margin-top:80px;
    padding-right:30px;
  }
}

@media (max-width:992px) {
  .hero .get-it{
    text-align:center;
  }
}

@media (max-width:992px) {
  .hero .phone-preview{
    text-align:center;
  }
}

.hero .get-it h1, .hero .get-it p{
  color:#fff;
  text-shadow:2px 2px 3px rgba(0,0,0,0.3);
  margin-bottom:40px;
}

.hero .get-it .btn{
  margin-left:10px;
  margin-bottom:10px;
  text-shadow:none;
}

div.iphone-mockup{
  position:relative;
  max-width:250px;
  margin:20px;
  display:inline-block;
}

.iphone-mockup img.device{
  width:100%;
  height:auto;
}

.iphone-mockup .screen{
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(../../assets/img/screen-content-iphone-6.jpg);
  background-size:cover;
  background-position:center;
}

.iphone-mockup .screen:before{
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

.icon-feature{
  text-align:center;
}

.icon-feature .glyphicon{
  font-size:60px;
}

section.features{
  background-color:#369;
  padding:40px 0;
  color:#fff;
}

.para
{
vertical-align: -webkit-baseline-middle;
    float: left;
    margin-top: 5px;
}
.features h2{
  color:#fff;
}

.features .icon-features{
  margin-top:15px;
}

.testimonials blockquote{
  text-align:center;
}

section.testimonials{
  margin:50px 0;
}

.site-footer{
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5{
    text-align:left;
  }
}
@media (max-width:768px) {
.guests-select1 {
    width: 264px;
    height: 150px;
    border: solid 1px #000000;
    background-color: #fff;
    color: #000;
    position: absolute;
    z-index: 99;
    margin-top: 10px;
}
.glyphicon1 {
    position: relative;
    top: -10px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    left: -117px;
    -moz-osx-font-smoothing: grayscale;
}
.room {
    margin-top: 10px;
    display: flex;
    position: absolute;
}
.room1 {
    margin-top: 50px;
    display: flex;
}
}
.site-footer h5{
  color:inherit;
  font-size:20px;
}

.site-footer .social-icons a:hover{
  opacity:1;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons{
    text-align:right;
  }
}
@media (min-width:860px)and
(max-width:1024px)
{
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    margin-left: 329px;
    margin-top: -70px;
}

}
